.wrapper {
    height: 74px;
    width: 100%;
    border-radius: 15px;
    background: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px 0 16px;
}

input {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: #FFFFFF;
    opacity: 0.8;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.5px;
}

input:focus {
    outline: none;
}

button {
    background-color: transparent;
    border: none;
}

svg {
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    cursor: pointer;
}